html,
body {
  padding: 0;
  margin: 0;
}

.presentationHeader {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: start;
}
.presentationLogo {
  width: 100%;
}

.speakerImageContainer::before {
  content: " ";
  position: absolute;
  width: 8cm;
  margin-left: -1.35cm;
  margin-top: -0.85cm;
  height: 10cm;
  background: url("../assets/hex.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -1;
}
.speakerImage {
  width: 50%;
}

.presentationContainer {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  min-height: 100vh;
  max-height: 100vh;
}

.presentationContent {
  font-size: 400%;
  margin-left: 2cm;
}
.presentationInterval {
  margin-top: 1cm;
  margin-bottom: 1cm;
}

.presentationFooter {
}
