@import "../variables.scss";

body {
  background: white;
}

.titleContainer {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
.titleYear {
  color: $primaryColor;
  font-size: 1000% !important;
  margin-top: -2cm;
}
